.navbar-background {
    background-image: url("images/background.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
@media (max-width: 576px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}
.getSchooled {
    font-family: 'Source Sans Pro-Bold';
    font-size: 120px;
    font-weight: 700;
    line-height: 150px;
    padding-top: 160px;
}
.button-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C271FF; /* Fill color */
    color: white; /* Text color */
    border: 2px solid #979797; /* Stroke color */
    width: 162px; /* Width */
    height: 44px; /* Height */
    margin-top: 20px;
    margin-bottom: 150px;
    text-align: center; /* Text alignment */
    text-decoration: none; /* No text decoration */
    border-radius: 22px; /* Rounded edges */
    cursor: pointer; /* Pointer cursor on hover */
    outline: none; /* No outline */
    box-shadow: 0px 2px 20px 0px #00000080; /* Drop shadow */
    margin-left: auto;
    margin-right: auto;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 600;
}
.first-word {

    color: #C271FF;
}