
@font-face { font-family: 'Source Sans Pro-Black'; src: url(fonts/SourceSansPro-Black.otf); }
@font-face { font-family: 'Source Sans Pro-Blacklt'; src: url(fonts/SourceSansPro-BlackIt.otf); }
@font-face { font-family: 'Source Sans Pro-Bold'; src: url(fonts/SourceSansPro-Bold.otf); }
@font-face { font-family: 'Source Sans Pro-Boldlt'; src: url(fonts/SourceSansPro-Boldlt.otf); }
@font-face { font-family: 'Source Sans Pro-ExtraLight'; src: url(fonts/SourceSansPro-ExtraLight.otf); }
@font-face { font-family: 'Source Sans Pro-ExtraLightlt'; src: url(fonts/SourceSansPro-ExtraLightIt.otf); }
@font-face { font-family: 'Source Sans Pro-lt'; src: url(fonts/SourceSansPro-lt.otf); }
@font-face { font-family: 'Source Sans Pro-Light'; src: url(fonts/SourceSansPro-Light.otf); }
@font-face { font-family: 'Source Sans Pro-Lightlt'; src: url(fonts/SourceSansPro-Lightlt.otf); }
@font-face { font-family: 'Source Sans Pro-Regular'; src: url(fonts/SourceSansPro-Regular.otf); }
@font-face { font-family: 'Source Sans Pro-Semibold'; src: url(fonts/SourceSansPro-Semibold.otf); }


.font-source-sans-pro {
    font-family: 'Source Sans Pro';
}

.font-source-sans-pro-bold {
    font-family: 'Source Sans Pro-Bold';
}

.navbar-background {
    background-image: url("images/background.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.navbar-pricingbackground {
    background-image: url("images/backgroundpage2.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.navbar-coursesbackground {
    background-image: url("images/pic_3.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

@media (max-width: 576px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        
    }

}

.button-register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C271FF; /* Fill color */
    color: white; /* Text color */
    border: 2px solid #979797; /* Stroke color */
    width: 162px; /* Width */
    height: 44px; /* Height */
    margin-top: 20px;
    text-align: center; /* Text alignment */
    text-decoration: none; /* No text decoration */
    border-radius: 22px; /* Rounded edges */
    cursor: pointer; /* Pointer cursor on hover */
    outline: none; /* No outline */
    box-shadow: 0px 2px 20px 0px #00000080; /* Drop shadow */
    margin-left: auto;
    margin-right: auto;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 600;
}


.box {
    border-radius: 5px 5px 0px 0px;
    position: relative;
    min-width: 255px;
    height: 154px;
}
.inner-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel-indicators {
    position: absolute;
    bottom: -30px; /* Position indicators outside the carousel */
    left: 50%;
    transform: translateX(-50%);
}
.carousel-control-prev,
.carousel-control-next {
    width: 25%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
.carousel-control-prev-icon {
    background-image: url('images/arrowblackleft.png');
}
.carousel-control-next-icon {
    background-image: url('images/arrowblackright.png');
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
